---
import PageLayout from "../layouts/PageLayout.astro";

const posts = await Astro.glob("../pages/post/**/*.{md,mdx}");

const title = "Blog";

// const Tags = (tags) =>
//   tags ? (
//     <ul class="post-tags">
//       {tags.map((tag) => (
//         <li class="post-tag">
//           <a href={`/tags/${tag}`}>{tag}</a>
//         </li>
//       ))}
//     </ul>
//   ) : null;
---

<PageLayout title={title}>
  <h1>Blog</h1>
  <section>
    {
      posts.map((post) => {
        const { title, preview } = post.frontmatter;
        return (
          <div class="post">
            <h2 class="post-title">{title}</h2>
            {preview ? <p class="post-preview">{preview}</p> : null}
            <a href={post.url}>Read more</a>
          </div>
        );
      })
    }
  </section>
</PageLayout>
<style lang="scss">
  .post {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
  }

  .post-title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.8em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .post-preview {
    margin: 0.2em 0;
    font-size: 1em;
  }
</style>
